<div class="full-text-container">
  <h5 class="text-container-header">Full text</h5>
  <div class="card full-text-card">
    <textarea [(ngModel)]="text" placeholder="Enter full text ..." class="text-area"></textarea>
  </div>

  <div class="action-btn-container">
    <div class="center-container">
      <div class="center-content">
        <div class="status-pending-indicator-container" >
          <div class="spinner" *ngIf="statusService.status == 'summarizing'">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>

        <div>
          <mat-form-field>
            <mat-select placeholder="Sentences" [(ngModel)]="summariesService.numOfSentences">
              <mat-option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="i">
                {{ i }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button (click)="text = ''" [disabled]="!text" class="clear-btn secondary-btn">CLEAR</button>
          <button mat-button (click)="onSummarize()" [disabled]="!text || statusService.status == 'summarizing'" class="primary-btn">SUMMARIZE</button>
        </div>
      </div>
    </div>


  </div>


</div>
