/* You can add global styles to this file, and also import other style files */
@import './app/app.component.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: $gray_background_color;
  margin: 0;
}

.mat-chip.mat-primary.good {
  background-color: $success_color !important;
}

.mat-chip.mat-primary.bad {
  background-color: $danger_color !important;
}

.mat-chip.mat-primary.neutral {
  background-color: $pending_color !important;
}

.mat-form-field-infix {
  width: 95px !important;
  border-top: none;
}
